/*! pg.css | BSD 3-Clause License | github.com/philippG777/pg.css/ */
* {
  font-family: "Trebuchet MS", Helvetica, sans-serif; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0; }

.card {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  border-radius: 0.5rem; }

.container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0; }

.dropdown {
  cursor: pointer; }
  .dropdown .content {
    position: absolute;
    display: block;
    cursor: initial;
    padding-top: 0.5rem;
    margin: 0;
    min-width: 5rem;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s; }
    .dropdown .content .item {
      display: block;
      cursor: pointer;
      padding: 0.5rem;
      width: 100%; }
  .dropdown:hover .content {
    visibility: visible;
    opacity: 1; }

.cols {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; }
  @media only screen and (max-width: 50rem) {
    .cols {
      flex-direction: column;
      align-items: stretch; } }

.col {
  flex: 1; }

.jumbotron {
  height: 70vh;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.menu {
  margin: 0;
  padding: 0;
  text-align: center; }
  .menu .item {
    padding: 0.5rem; }
  .menu.horizontal {
    max-width: 100%;
    overflow: auto;
    clear: both; }
    .menu.horizontal > .item {
      display: block;
      float: left; }
      .menu.horizontal > .item.right {
        float: right; }
      @media only screen and (max-width: 50rem) {
        .menu.horizontal > .item {
          float: none !important; } }
  .menu.vertical .item {
    display: block; }

.panel {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }
  .popup.active {
    visibility: visible; }
  .popup .content:first-child {
    min-width: 20vw;
    max-width: 90vw;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem; }
    @media only screen and (max-width: 50rem) {
      .popup .content:first-child {
        min-width: 50vw; } }

.tooltip {
  position: relative;
  text-align: center;
  cursor: pointer; }
  .tooltip .content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 12rem;
    padding: 0.4rem;
    border-radius: 1rem;
    background-color: #202020;
    color: white;
    bottom: 100%;
    left: 50%;
    margin-left: -6rem;
    transition: 0.2s; }
  .tooltip:hover .content {
    visibility: visible;
    opacity: 1; }

.wrapper {
  margin: 0;
  padding: 0; }

.bg-cover {
  background-size: cover !important; }

.bg-center {
  background-position: center !important; }

.bg-norepeat {
  background-repeat: no-repeat !important; }

.bg-fixed {
  background-attachment: fixed !important; }
  @media only screen and (max-width: 50rem) {
    .bg-fixed.mobile {
      background-attachment: scroll !important; } }

.no-border {
  border-width: 0; }

.border {
  border-width: 1px;
  border-style: solid; }

.border-l {
  border-width: 2px;
  border-style: solid; }

.border-xl {
  border-width: 3px;
  border-style: solid; }

.border-xxl {
  border-width: 0.5rem;
  border-style: solid; }

.border-xxxl {
  border-width: 1rem;
  border-style: solid; }

.font-xs {
  font-size: 0.5rem; }

.font-s {
  font-size: 0.75rem; }

.font-m {
  font-size: 1rem; }

.font-l {
  font-size: 1.25rem; }

.font-xl {
  font-size: 1.5rem; }

.font-xxl {
  font-size: 2rem; }

.font-xxxl {
  font-size: 3rem; }

.font-jumbo {
  font-size: 4rem; }

.font-small-caps {
  font-variant: small-caps; }

.font-italic {
  font-style: italic; }

.font-bold {
  font-weight: bold; }

.fullscreen {
  height: 100vh;
  margin: 0; }

.no-margin {
  margin: 0; }

.margin-xxs {
  margin: 0.25rem; }

.margin-xs {
  margin: 0.5rem; }

.margin-s {
  margin: 0.75rem; }

.margin {
  margin: 1rem; }

.margin-l {
  margin: 1.5rem; }

.margin-xl {
  margin: 2rem; }

.margin-xxl {
  margin: 2.5rem; }

.margin-xxxl {
  margin: 3rem; }

.margin-auto {
  margin: 1rem auto; }

@media only screen and (min-width: 50rem) {
  .only-small-screen {
    display: none; } }

@media only screen and (max-width: 50rem) {
  .only-large-screen {
    display: none; } }

.no-padding {
  padding: 0; }

.padding-xxs {
  padding: 0.25rem; }

.padding-xs {
  padding: 0.5rem; }

.padding-s {
  padding: 0.75rem; }

.padding {
  padding: 1rem; }

.padding-l {
  padding: 1.5rem; }

.padding-xl {
  padding: 2rem; }

.padding-xxl {
  padding: 2.5rem; }

.padding-xxxl {
  padding: 3rem; }

.not-round {
  border-radius: 0rem; }

.round-xs {
  border-radius: 0.125rem; }

.round-s {
  border-radius: 0.25rem; }

.round {
  border-radius: 0.5rem; }

.round-l {
  border-radius: 1rem; }

.round-xl {
  border-radius: 2rem; }

.round-xxl {
  border-radius: 3rem; }

.round-xxxl {
  border-radius: 4rem; }

.shadow {
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35); }

.third {
  width: 33.33%;
  flex: none; }
  @media only screen and (max-width: 50rem) {
    .third {
      width: 100%; } }

.two-thirds {
  width: 66.66%;
  flex: none; }
  @media only screen and (max-width: 50rem) {
    .two-thirds {
      width: 100%; } }

.full {
  width: 100%;
  flex: none; }

.quater {
  width: 25%;
  flex: none; }
  @media only screen and (max-width: 50rem) {
    .quater {
      width: 100%; } }

.half {
  width: 50%;
  flex: none; }
  @media only screen and (max-width: 50rem) {
    .half {
      width: 100%; } }

.three-quaters {
  width: 75%;
  flex: none; }
  @media only screen and (max-width: 50rem) {
    .three-quaters {
      width: 100%; } }

.h1 {
  height: 10vh; }
  @media only screen and (max-width: 50rem) {
    .h1 {
      flex: none; } }

.h2 {
  height: 20vh; }
  @media only screen and (max-width: 50rem) {
    .h2 {
      flex: none; } }

.h3 {
  height: 30vh; }
  @media only screen and (max-width: 50rem) {
    .h3 {
      flex: none; } }

.h4 {
  height: 40vh; }
  @media only screen and (max-width: 50rem) {
    .h4 {
      flex: none; } }

.h5 {
  height: 50vh; }
  @media only screen and (max-width: 50rem) {
    .h5 {
      flex: none; } }

.h6 {
  height: 60vh; }
  @media only screen and (max-width: 50rem) {
    .h6 {
      flex: none; } }

.h7 {
  height: 70vh; }
  @media only screen and (max-width: 50rem) {
    .h7 {
      flex: none; } }

.h8 {
  height: 80vh; }
  @media only screen and (max-width: 50rem) {
    .h8 {
      flex: none; } }

.h9 {
  height: 90vh; }
  @media only screen and (max-width: 50rem) {
    .h9 {
      flex: none; } }

.h10 {
  height: 100vh; }
  @media only screen and (max-width: 50rem) {
    .h10 {
      flex: none; } }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-no-decoration {
  text-decoration: none; }

.txt-underline {
  text-decoration: underline; }

.txt-overline {
  text-decoration: overline; }

.txt-upper {
  text-transform: uppercase; }

.txt-lower {
  text-transform: lowercase; }

/*# sourceMappingURL=pg.css.map */
