@import "../vars"

$radius: 0.5rem
$padding: 0.4rem

.button
  padding: $padding
  border: 2px solid $prim-color
  border-radius: $radius

  background-color: $sec-color
  color: $prim-color
  transition: $speed

  &:hover
    background-color: $prim-color
    color: $sec-color

  &.dark
    background-color: $prim-color
    color: $sec-color

    &:hover
      background-color: $sec-color
      color: $prim-color
