$padding-l-r: 1rem
$padding-t-b: 0.5rem
$radius: 0.5rem
$shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35)
.card
  padding:
    top: $padding-t-b
    bottom: $padding-t-b
    left: $padding-l-r
    right: $padding-l-r
  margin: 0
  
  box-shadow: $shadow
  border-radius: $radius
