@import "../vars"

$padding-l-r: 1rem
$padding-t-b: 0.5rem
$radius: 0.5rem
$margin: 1rem

.card
  padding:
    top: $padding-t-b
    bottom: $padding-t-b
    left: $padding-l-r
    right: $padding-l-r
  margin-top: $margin
  margin-bottom: $margin
  
  box-shadow: $shadow
  border-radius: $radius
