@import "../vars"

$small-screen: "only screen and (max-width: 50rem)"
$min-width: 5rem
$space: 0.5rem
$bg-color: white
$item-padding: 0.5rem

.dropdown
  cursor: pointer
  padding: $space
  transition: $speed

  .content
    position: absolute
    display: block
    cursor: initial
    margin: 0
    margin-top: $space
    min-width: $min-width

    opacity: 0
    visibility: hidden
    background-color: $sec-color
    
    .item
      display: block
      cursor: pointer
      padding: $item-padding
      width: 100%
      transition: $speed
      color: $text-color

  &:hover
    background-color: $prim-color
    color: $sec-color
    .content
      z-index: 1
      visibility: visible
      opacity: 1
      box-shadow: $shadow

      .item
        &:hover
          background-color: $hover-color
