@import "../vars"

$small-screen: "only screen and (max-width: 50rem)"
$min-width: 5rem
$space: 0.5rem
$bg-color: white
$item-padding: 0.5rem

.dropdown
  cursor: pointer
  padding: $space
  transition: $speed

  .content
    position: absolute
    display: block
    margin: 0
    margin-top: $space
    min-width: $min-width
    margin-left: -$space

    opacity: 0
    visibility: hidden
    background-color: $sec-color
    
    &.full
      width: 100%

    @media #{$small-screen}
      width: 100%

    .item
      display: block
      text-align: center
      cursor: pointer
      padding: $item-padding
      width: 100%
      transition: $speed
      color: $text-color
      opacity: 0

  &:hover
    background-color: $hover-color
    .content
      z-index: 1
      visibility: visible
      opacity: 1
      box-shadow: $shadow

      .item
        opacity: 1
        &:hover
          background-color: $hover-color
