$width: 12rem
$half-width: 6rem
$bg-color: #202020
$radius: 1rem
$padding: 0.4rem
$speed: 0.2s
$font-color: white

.tooltip
  position: relative
  text-align: center

  .content
    position: absolute
    visibility: hidden
    opacity: 0
    width: $width
    padding: $padding

    border-radius: $radius
    background-color: $bg-color
    color: $font-color

    bottom: 100%
    left: 50%
    margin-left: -$half-width
    transition: $speed

  &:hover
    .content
      visibility: visible
      opacity: 1
