$small-screen: "only screen and (max-width: 50rem)"

// width
.third
  width: 33.33%
  flex: none
  @media #{$small-screen}
    width: 100%

.two-thirds
  width: 66.66%
  flex: none
  @media #{$small-screen}
    width: 100%

.full
  width: 100%
  flex: none

.quater
  width: 25%
  flex: none
  @media #{$small-screen}
    width: 100%

.half
  width: 50%
  flex: none
  @media #{$small-screen}
    width: 100%

.three-quaters
  width: 75%
  flex: none
  @media #{$small-screen}
    width: 100%

// height
.h1
  height: 10vh
  @media #{$small-screen}
    flex: none

.h2
  height: 20vh
  @media #{$small-screen}
    flex: none

.h3
  height: 30vh
  @media #{$small-screen}
    flex: none

.h4
  height: 40vh
  @media #{$small-screen}
    flex: none

.h5
  height: 50vh
  @media #{$small-screen}
    flex: none

.h6
  height: 60vh
  @media #{$small-screen}
    flex: none

.h7
  height: 70vh
  @media #{$small-screen}
    flex: none

.h8
  height: 80vh
  @media #{$small-screen}
    flex: none

.h9
  height: 90vh
  @media #{$small-screen}
    flex: none

.h10
  height: 100vh
  @media #{$small-screen}
    flex: none
