* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* MAIN WRAPPER ELEMENTS */
/* ===================== */

/* default pg-element */
[class*="pg-"] {
    position: relative;
}

.pg-container, .pg-header, .pg-footer {
    width: 100%;
    margin: 0;
    padding: 5%;
    clear: both;
    overflow: auto;
}

.pg-row, .pg-jumbotron {
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: auto;
}

.pg-jumbotron {
    height: 70vh;
}

.pg-fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    clear: both;
    overflow: auto;
}

.pg-centerbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pg-left {
    float: left !important;
}

.pg-right {
    float: right !important;
}

.pg-no-padding {
    padding: 0;
}

.pg-no-margin {
    margin: 0;
}


/* NAVIGATION */
/* ========== */

.pg-nav-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
}

.pg-top-nav .nav-item {
    display: inline-block;
    float: left;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


/* SIZING */
/* ====== */

/* cols */
.w1 {width: 8.33%;}
.w2 {width: 16.66%;}
.w3, .quater {width: 25%;}
.w4, .third {width: 33.33%;}
.w5 {width: 41.66%;}
.w6, .half {width: 50%;}
.w7 {width: 58.33%;}
.w8 .twothird {width: 66.66%;}
.w9 .threequater {width: 75%;}
.w10 {width: 83.33%;}
.w11 {width: 91.66%;}
.w12, .full {width: 100%;}

/* default col */
[class*="w"] {
    float: left;
}

/* height relative to the screen-height */
.h1 {height: 10vh;}
.h2 {height: 20vh;}
.h3 {height: 30vh;}
.h4 {height: 40vh;}
.h5 {height: 50vh;}
.h6 {height: 60vh;}
.h7 {height: 70vh;}
.h8 {height: 80vh;}
.h9 {height: 90vh;}
.h10 {height: 100vh;}

/* height relative to the parent-height */
.rh1 {height: 10%;}
.rh2 {height: 20%;}
.rh3 {height: 30%;}
.rh4 {height: 40%;}
.rh5 {height: 50%;}
.rh6 {height: 60%;}
.rh7 {height: 70%;}
.rh8 {height: 80%;}
.rh9 {height: 90%;}
.rh10 {height: 100%;}



@media only screen and (max-width: 768px) {
    /* mobile */
    .pg-only-desktop {
        display: none;
    }

    /* on mobile every col has the full width */
    [class*="w"] {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    /* desktop */
    .pg-only-mobile {
        display: none;
    }
}


/* TEXT-STYLING */
/* ============ */

.txt-left {text-align: left;}
.txt-center {text-align: center;}
.txt-right {text-align: right;}

.txt-no-decoration {text-decoration: none;}
.txt-underline {text-decoration: underline;}
.txt-overline {text-decoration: overline;}

.txt-small-caps {
    font-variant: small-caps;
}

.txt-uppercase {
    text-transform: uppercase;
}

.txt-lowercase {
    text-transform: lowercase;
}


/* BACKGROUND-IMAGE-STYLING */
/* ======================== */

.pg-bg-cover {
    background-size: cover;
}

.pg-bg-contain {
    background-size: contain;
}

.pg-bg-fixed {
    background-attachment: fixed;
}

.pg-bg-center {
    background-position: center;
}

.pg-bg-norepeat {
    background-repeat: no-repeat;
}

