/*! pg.css v0.1.0 | BSD 3-Clause License | https://github.com/philippG777/pg.css */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}


/* MEDIA-QUERYS */
/* ============ */

/* Mobile */
/* ------ */

@media only screen and (max-width: 50rem) {
    .only-desktop {
        display: none;
    }

    /* on mobile every col has the full width */
    .pg-row {
        flex-direction: column !important;
    }

    .col {
        width: 100% !important;
    }

    /* PG-MENU */
    .pg-menu.horizontal .item {
        float: none !important;
        text-align: center;
    }


    /* PG-DROPDOWN */
    .pg-dropdown .content {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;
    }

    /* BACKGROUND-STYLING */
    /* less powerfull phones have problems with parallax-scrolling*/
    .bg-fixed {
        background-attachment: scroll !important;
    }

    .bg-fixed.allways {
        background-attachment: fixed !important;
    }
}

/* Desktop */
/* ------- */

@media only screen and (min-width: 50rem) {
    .only-mobile {
        display: none;
    }

    /* BACKGROUND-STYLING */
    .bg-fixed {
        background-attachment: fixed !important;
    }

    /* PG-DROPDOWN */
    .pg-dropdown .content .item[class*="margin-"] {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .pg-dropdown .content {
        margin-left: -0.5rem;
    }
}



/* MAIN WRAPPER ELEMENTS */
/* ===================== */

.pg-container, .pg-header, .pg-footer, .pg-card, .pg-panel, .pg-jumbotron {
    padding: 0.5rem 1rem;
}

.pg-card {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.pg-panel, .pg-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pg-container, .pg-header, .pg-footer, .pg-card, .pg-panel, .pg-jumbotron .pg-row, .pg-fullscreen {
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.pg-row {
    padding: 0;
}

.pg-cols {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.col {
    flex: 1;
}

.pg-jumbotron {
    height: 70vh;
}

.pg-fullscreen {
    width: 100vw;
    height: 100vh;
}


/* float */
.float {float: left;}
.left {float: left !important;}
.right {float: right !important;}
.clear {
    clear: both;
    overflow: auto;
}


/* NAVIGATION */
/* ========== */

/* Horizontal menu*/
/* --------------- */
.pg-menu.horizontal {
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    clear: both;
}

.pg-menu.horizontal .item {
    display: block;
    float: left;
    padding: 0.5rem;
}

.pg-menu.horizontal .item .item {
    float: none;
}


/* TOOLTIP */
/* ======= */

.pg-tooltip {
    position: relative;
}

.pg-tooltip .content {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 12rem;
    background-color: #202020;
    border-radius: 1rem;
    padding: 0.4rem;
    color: white;

    bottom: 100%;
    left: 50%;
    margin-left: -6rem;
    transition: 0.2s;
}

.pg-tooltip:hover .content {
    visibility: visible;
    opacity: 1;
}


/* DROPDOWNS */
/* ========= */

.pg-dropdown {
    cursor: pointer;
}

.pg-dropdown .content {
    position: absolute;
    display: block;
    visibility: hidden;
    min-width: 5rem;
    margin-top: 0.5rem;
    background-color: white;
    opacity: 0;
    transition: 0.2s;
    cursor: initial;
}

.pg-dropdown .content .item {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
}

.pg-dropdown:hover .content {
    visibility: visible;
    opacity: 1;
}


/* SIZING */
/* ====== */

.w1 {width: 8.33%; flex: none;}
.w2 {width: 16.66%; flex: none;}
.w3, .quater {width: 25%; flex: none;}
.w4, .third {width: 33.33%; flex: none;}
.w5 {width: 41.66%; flex: none;}
.w6, .half {width: 50%; flex: none;}
.w7 {width: 58.33%; flex: none;}
.w8 .twothird {width: 66.66%; flex: none;}
.w9 .threequater {width: 75%; flex: none;}
.w10 {width: 83.33%; flex: none;}
.w11 {width: 91.66%; flex: none;}
.w12, .full {width: 100%; flex: none;}


/* height relative to the screen-height */
.h1 {height: 10vh;}
.h2 {height: 20vh;}
.h3 {height: 30vh;}
.h4 {height: 40vh;}
.h5 {height: 50vh;}
.h6 {height: 60vh;}
.h7 {height: 70vh;}
.h8 {height: 80vh;}
.h9 {height: 90vh;}
.h10 {height: 100vh;}

/* height relative to the parent-height */
.rh1 {height: 10%;}
.rh2 {height: 20%;}
.rh3 {height: 30%;}
.rh4 {height: 40%;}
.rh5 {height: 50%;}
.rh6 {height: 60%;}
.rh7 {height: 70%;}
.rh8 {height: 80%;}
.rh9 {height: 90%;}
.rh10 {height: 100%;}


/* POSITIONING */
/* =========== */

/*
Positioning using flex-box
*/

.f-left {display: flex; justify-content: flex-start;}
.f-center {display: flex; justify-content: center;}
.f-right {display: flex; justify-content: flex-end;}

.f-top {display: flex; align-items: flex-start;}
.f-middle {display: flex; align-items: center;}
.f-bottom {display: flex; align-items: flex-end;}


/* TEXT-STYLING */
/* ============ */

.txt-left {text-align: left;}
.txt-center {text-align: center;}
.txt-right {text-align: right;}

.txt-no-decoration {text-decoration: none;}
.txt-underline {text-decoration: underline;}
.txt-overline {text-decoration: overline;}


.txt-uppercase {
    text-transform: uppercase;
}

.txt-lowercase {
    text-transform: lowercase;
}

.txt-rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f00), color-stop(0.15, #ffa500), color-stop(0.3, #ff0), color-stop(0.5, #0f0), color-stop(0.75, #00f), color-stop(1, #8b0a50));
    background-image: gradient( linear, left top, right top, color-stop(0, #f00), color-stop(0.15, #ffa500), color-stop(0.3, #ff0), color-stop(0.5, #0f0), color-stop(0.75, #00f), color-stop(1, #8b0a50));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


/* FONT-STYLING */
/* ============ */

.fnt-small-caps {
    font-variant: small-caps;
}

.fnt-italic {
    font-style: italic;
}

.fnt-bold {
    font-weight: bold;
}

/* font-sizing */
.fnt-xs {font-size: 0.5rem;}
.fnt-s {font-size: 0.75rem;}
.fnt-m {font-size: 1rem;}
.fnt-l {font-size: 1.25rem;}
.fnt-xl {font-size: 1.5rem;}
.fnt-xxl {font-size: 2rem;}
.fnt-xxxl {font-size: 3rem;}
.fnt-jumbo {font-size: 4rem;}


/* BACKGROUND-IMAGE-STYLING */
/* ======================== */

.bg-cover {
    background-size: cover !important;
}

.bg-contain {
    background-size: contain !important;
}

.bg-center {
    background-position: center !important;
}

.bg-norepeat {
    background-repeat: no-repeat !important;
}


/* BORDER-STYLING */
/* ============== */

[class*="bdr"] {
    border-style: solid;
}
.bdr-0, .no-bdr, .no-border {border-width: 0;}
.bdr-xs {border-width: 0.1rem;}
.bdr-s {border-width: 0.25rem;}
.bdr, .border, .bdr-m {border-width: 0.5rem;}
.bdr-l {border-width: 0.75rem;}
.bdr-xl {border-width: 1rem;}
.bdr-xxl {border-width: 1.25rem;}
.bdr-xxxl {border-width: 1.5rem;}


.round-0, .not-round {border-radius: 0;}
.round-xs {border-radius: 0.125rem;}
.round-s {border-radius: 0.25rem;}
.round, .round-m {border-radius: 0.5rem;}
.round-l {border-radius: 1rem;}
.round-xl {border-radius: 2rem;}
.round-xxl {border-radius: 3rem;}
.round-xxxl {border-radius: 4rem;}


/* MARGIN-STYLING */
/* ============== */

.margin-0, .no-margin {margin: 0;}
.margin-xxs {margin: 0.25rem;}
.margin-xs {margin: 0.5rem;}
.margin-s {margin: 0.75rem;}

.margin, .margin-m {margin: 1rem;}
.margin-l {margin: 1.5rem;}
.margin-xl {margin: 2rem;}
.margin-xxl {margin: 2.5rem;}
.margin-xxxl {margin: 3rem;}

.margin-v-xxs {margin: 2.5vw;}
.margin-v-xs {margin: 5vw;}
.margin-v-s {margin: 7.5vw;}
.margin-v-m, .margin-v {margin: 10vw;}
.margin-v-l {margin: 15vw;}
.margin-v-xl {margin: 20vw;}
.margin-v-xxl {margin: 25vw;}
.margin-v-xxxl {margin: 30vw;}


.margin-auto {
    margin: 1rem auto;
}


/* PADDING-STYLING */
/* =============== */

.padding-0, .no-padding {padding: 0;}
.padding-xxs {padding: 0.25rem;}
.padding-xs {padding: 0.5rem;}
.padding-s {padding: 0.75rem;}
.padding, .padding-m {padding: 1rem;}
.padding-l {padding: 1.5rem;}
.padding-xl {padding: 2rem;}
.padding-xxl {padding: 2.5rem;}
.padding-xxxl {padding: 3rem;}

.padding-v-s {padding: 5vw;}
.padding-v-m, .padding-v {padding: 10vw;}
.padding-v-l {padding: 15vw;}
.padding-v-xl {padding: 20vw;}
.padding-v-xxl {padding: 25vw;}